-- Clean up existing objects safely: drop tables first (cascades remove triggers/policies)
DROP VIEW IF EXISTS application_statistics;
DROP TABLE IF EXISTS application_comments CASCADE;
DROP TABLE IF EXISTS application_reviews CASCADE;
DROP TABLE IF EXISTS tops_applications CASCADE;
DROP TABLE IF EXISTS achievement_categories CASCADE;
DROP TABLE IF EXISTS reviewers CASCADE;

-- Drop types and functions if present
DROP FUNCTION IF EXISTS update_updated_at_column() CASCADE;
DROP TYPE IF EXISTS achievement_level;
DROP TYPE IF EXISTS application_status;

-- Create ENUMs
CREATE TYPE application_status AS ENUM (
	'pending',
	'under_review',
	'approved',
	'rejected'
);

CREATE TYPE achievement_level AS ENUM (
	'school',
	'district',
	'division',
	'regional',
	'national',
	'international'
);

-- Create timestamp function
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
	NEW.updated_at = NOW();
	RETURN NEW;
END;
$$ language plpgsql;

-- Create tables in correct order (respecting foreign key dependencies)
CREATE TABLE reviewers (
	id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
	user_id UUID NOT NULL,
	is_active BOOLEAN DEFAULT TRUE,
	created_at TIMESTAMPTZ DEFAULT NOW(),
	updated_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE TABLE tops_applications (
	id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
	full_name VARCHAR(255) NOT NULL,
	complete_address TEXT NOT NULL,
	municipality VARCHAR(100) NOT NULL,
	phone_number VARCHAR(20) NOT NULL,
	email VARCHAR(255) NOT NULL,
	birthday DATE NOT NULL,
	age INTEGER NOT NULL,
	sex VARCHAR(20) NOT NULL,
	school_level VARCHAR(50) NOT NULL,
	school_name VARCHAR(255) NOT NULL,
	school_address TEXT NOT NULL,
	school_head_name VARCHAR(255) NOT NULL,
	school_head_email VARCHAR(255) NOT NULL,
	school_head_mobile VARCHAR(20) NOT NULL,
	class_advisor_name VARCHAR(255) NOT NULL,
	class_advisor_email VARCHAR(255) NOT NULL,
	class_advisor_mobile VARCHAR(20) NOT NULL,
	nomination_letter_url TEXT NOT NULL,
	academic_records_url TEXT NOT NULL,
	certificate_truthfulness_url TEXT NOT NULL,
	photo_2x2_url TEXT NOT NULL,
	academic_claims JSONB NOT NULL,
	leadership_claims JSONB NOT NULL,
	community_service_claims JSONB NOT NULL,
	status application_status DEFAULT 'pending',
	public_status_token UUID UNIQUE DEFAULT uuid_generate_v4(),
	reviewer_notes TEXT,
	reviewer_id UUID REFERENCES reviewers(id),
	created_at TIMESTAMPTZ DEFAULT NOW(),
	updated_at TIMESTAMPTZ DEFAULT NOW(),
	reviewed_at TIMESTAMPTZ,
	data_privacy_accepted BOOLEAN NOT NULL DEFAULT FALSE,
	CONSTRAINT email_format CHECK (email ~* '^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$'),
	CONSTRAINT age_range CHECK (age >= 12 AND age <= 30)
);

CREATE TABLE achievement_categories (
	id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
	name VARCHAR(100) NOT NULL,
	description TEXT,
	type VARCHAR(50) NOT NULL,
	level achievement_level NOT NULL,
	points INTEGER NOT NULL,
	created_at TIMESTAMPTZ DEFAULT NOW(),
	updated_at TIMESTAMPTZ DEFAULT NOW(),
	CONSTRAINT unique_category_name_level UNIQUE (name, level)
);

CREATE TABLE application_reviews (
	id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
	application_id UUID NOT NULL,
	reviewer_id UUID NOT NULL,
	status application_status NOT NULL,
	notes TEXT,
	created_at TIMESTAMPTZ DEFAULT NOW(),
	CONSTRAINT fk_application_review
		FOREIGN KEY (application_id) 
		REFERENCES tops_applications(id)
		ON DELETE CASCADE,
	CONSTRAINT fk_reviewer_review
		FOREIGN KEY (reviewer_id) 
		REFERENCES reviewers(id)
);

CREATE TABLE application_comments (
	id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
	application_id UUID NOT NULL,
	reviewer_id UUID NOT NULL,
	comment TEXT NOT NULL,
	created_at TIMESTAMPTZ DEFAULT NOW(),
	updated_at TIMESTAMPTZ DEFAULT NOW(),
	CONSTRAINT fk_application_comment
		FOREIGN KEY (application_id) 
		REFERENCES tops_applications(id)
		ON DELETE CASCADE,
	CONSTRAINT fk_reviewer_comment
		FOREIGN KEY (reviewer_id) 
		REFERENCES reviewers(id)
);

-- Create triggers (after tables exist)
CREATE TRIGGER update_reviewers_updated_at
	BEFORE UPDATE ON reviewers
	FOR EACH ROW
	EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_tops_applications_updated_at
	BEFORE UPDATE ON tops_applications
	FOR EACH ROW
	EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_achievement_categories_updated_at
	BEFORE UPDATE ON achievement_categories
	FOR EACH ROW
	EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_application_comments_updated_at
	BEFORE UPDATE ON application_comments
	FOR EACH ROW
	EXECUTE FUNCTION update_updated_at_column();

-- Create indexes
CREATE INDEX idx_applications_token ON tops_applications(public_status_token);
CREATE INDEX idx_applications_status ON tops_applications(status);
CREATE INDEX idx_applications_reviewer ON tops_applications(reviewer_id);
CREATE INDEX idx_reviews_application ON application_reviews(application_id);
CREATE INDEX idx_reviews_reviewer ON application_reviews(reviewer_id);
CREATE INDEX idx_comments_application ON application_comments(application_id);
CREATE INDEX idx_comments_reviewer ON application_comments(reviewer_id);
CREATE INDEX idx_reviewers_user_id ON reviewers(user_id);

-- Enable RLS
ALTER TABLE reviewers ENABLE ROW LEVEL SECURITY;
ALTER TABLE tops_applications ENABLE ROW LEVEL SECURITY;
ALTER TABLE application_reviews ENABLE ROW LEVEL SECURITY;
ALTER TABLE application_comments ENABLE ROW LEVEL SECURITY;
ALTER TABLE achievement_categories ENABLE ROW LEVEL SECURITY;

-- Create policies
CREATE POLICY "Allow reviewer management"
	ON reviewers
	TO authenticated
	USING (auth.uid() IN (
		SELECT user_id FROM reviewers WHERE is_active = true
	));

CREATE POLICY "Allow public access to own application"
	ON tops_applications FOR SELECT
	USING (public_status_token IS NOT NULL OR 
		   auth.uid() IN (SELECT user_id FROM reviewers WHERE is_active = true));

CREATE POLICY "Allow authenticated users to submit applications"
	ON tops_applications FOR INSERT
	TO authenticated
	WITH CHECK (true);

CREATE POLICY "Allow reviewers to update applications"
	ON tops_applications FOR UPDATE
	TO authenticated
	USING (auth.uid() IN (
		SELECT user_id FROM reviewers WHERE is_active = true
	));

-- Insert sample achievement categories

-- Create statistics view
CREATE VIEW application_statistics AS
SELECT
	municipality,
	status,
	COUNT(*) as count,
	MIN(created_at) as earliest_submission,
	MAX(created_at) as latest_submission
FROM tops_applications
GROUP BY municipality, status;
